$white: #fff;
$grey: #333;
$red: #f00;

.dpnglossary {
  &.pagination ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      float: left;
      margin-left: 5px;
      margin-right: 5px;

      a {
        text-decoration: none;
      }

      &.first {
        margin-left: 0;
      }

      &.last {
        margin-right: 0;
      }

      &.empty {
        color: $red;
      }
    }
  }

  &.details {
    .mediafile {
      display: inline-block;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &.link {
    display: inline;
    position: relative;

    &:hover {
      &:after {
        background: rgba(0, 0, 0, .8);
        border-radius: 5px;
        bottom: 26px;
        color: $white;
        content: attr(title);
        left: 20%;
        padding: 5px 15px;
        position: absolute;
        width: 220px;
        z-index: 98;
      }

      &:before {
        border: solid;
        border-color: $grey transparent;
        border-width: 6px 6px 0;
        bottom: 20px;
        content: '';
        left: 50%;
        position: absolute;
        z-index: 99;
      }
    }
  }
}
