<div class="glossary-details">
    <dl>
        <dt><f:translate key="tx_dpnglossary_domain_model_term.name" />: {term.name}</dt>
        <dd><f:translate key="tx_dpnglossary_domain_model_term.description" />: {term.description}</dd>
        <f:if condition="{term.nameAlternative}">
            <dd><f:translate key="tx_dpnglossary_domain_model_term.name_alternative" />: {term.nameAlternative}</dd>
        </f:if>
        <f:if condition="{term.termType}">
            <dd><f:translate key="tx_dpnglossary_domain_model_term.term_type" />: {term.termType}</dd>
        </f:if>
        <f:if condition="{term.termType}">
            <dd><f:translate key="tx_dpnglossary_domain_model_term.term_lang" />: {term.termLang}</dd>
        </f:if>
        <f:if condition="{term.images}">
            <dd>
                <f:translate key="tx_dpnglossary_domain_model_term.images" />:<br/>
                <f:for each="{term.images}" as="image">
                    <a href="{f:uri.image(src:'{image.image.originalResource.originalFile}')}" title="{image.title}" rel="lightbox[t{term.uid}]"><f:image src="{image.image.originalResource.originalFile.uid}" width="150" height="150" alt="{term.title}" treatIdAsReference="TRUE" /></a>
                </f:for>
            </dd>
        </f:if>
    </dl>
</div>