.dpnglossary.pagination ul {
  list-style: none;
  margin: 0;
  padding: 0
}

.dpnglossary.pagination ul li {
  float: left;
  margin-left: 5px;
  margin-right: 5px
}

.dpnglossary.pagination ul li a {
  text-decoration: none
}

.dpnglossary.pagination ul li.first {
  margin-left: 0
}

.dpnglossary.pagination ul li.last {
  margin-right: 0
}

.dpnglossary.pagination ul li.empty {
  color: red
}

.dpnglossary.details .mediafile {
  display: inline-block;
  margin-bottom: 10px
}

.dpnglossary.details .mediafile:last-child {
  margin-bottom: 0
}

.dpnglossary.link {
  display: inline;
  position: relative
}

.dpnglossary.link:hover:after {
  background: rgba(0, 0, 0, .8);
  border-radius: 5px;
  bottom: 26px;
  color: #fff;
  content: attr(title);
  left: 20%;
  padding: 5px 15px;
  position: absolute;
  width: 220px;
  z-index: 98
}

.dpnglossary.link:hover:before {
  border: solid;
  border-color: #333 transparent;
  border-width: 6px 6px 0;
  bottom: 20px;
  content: '';
  left: 50%;
  position: absolute;
  z-index: 99
}
