.dpnglossary-link {
  display: inline;
  position: relative;
  &:hover {
    &:after {
      background: #333;
      background: rgba(0, 0, 0, 0.8);
      border-radius: 5px;
      bottom: 26px;
      color: #fff;
      content: attr(title);
      left: 20%;
      padding: 5px 15px;
      position: absolute;
      z-index: 98;
      width: 220px;
    }
    &:before {
      border: solid;
      border-color: #333 transparent;
      border-width: 6px 6px 0 6px;
      bottom: 20px;
      content: "";
      left: 50%;
      position: absolute;
      z-index: 99;
    }
  }
}

.term-details {
	.description {
		h3 {cursor: pointer}
		.text {display: none}
	}
}