# coding: utf-8

[general]

project     = dpn_glossary
language    = en
version     = 4.0
release     = 4.0
t3author    = Daniel Dorndorf
copyright   = Daniel Dorndorf 2022
description = Glossar extension for TYPO3 with a parser for terms

[latex_elements]

papersize = a4paper
preamble = \usepackage{typo3}
pointsize = 10pt

[html_theme_options]

github_branch        = master
github_repository    = featdd/dpn_glossary
project_contact      = dorndorf@featdd.de
project_home         = https://github.com/featdd/dpn_glossary
project_issues       = https://github.com/featdd/dpn_glossary/issues
project_repository   = https://github.com/featdd/dpn_glossary

[intersphinx_mapping]

# t3api         = https://typo3.org/api/typo3cms/
# t3cgl         = https://docs.typo3.org/typo3cms/CodingGuidelinesReference/
# t3coreapi     = https://docs.typo3.org/typo3cms/CoreApiReference/
# t3editors     = https://docs.typo3.org/typo3cms/EditorsTutorial/
# t3extbasebook = https://docs.typo3.org/typo3cms/ExtbaseFluidBook/
# t3fal         = https://docs.typo3.org/typo3cms/FileAbstractionLayerReference/
# t3inside      = https://docs.typo3.org/typo3cms/InsideTypo3Reference/
# t3install     = https://docs.typo3.org/typo3cms/InstallationGuide/
# t3l10n        = https://docs.typo3.org/typo3cms/FrontendLocalizationGuide/
# t3security    = https://docs.typo3.org/typo3cms/SecurityGuide/
# t3services    = https://docs.typo3.org/typo3cms/Typo3ServicesReference/
# t3skinning    = https://docs.typo3.org/typo3cms/SkinningReference/
# t3start       = https://docs.typo3.org/typo3cms/GettingStartedTutorial/
# t3tca         = https://docs.typo3.org/typo3cms/TCAReference/
# t3templating  = https://docs.typo3.org/typo3cms/TemplatingTutorial/
# t3ts45        = https://docs.typo3.org/typo3cms/TyposcriptIn45MinutesTutorial/
# t3tsconfig    = https://docs.typo3.org/typo3cms/TSconfigReference/
t3tsref       = https://docs.typo3.org/typo3cms/TyposcriptReference/
# t3tssyntax    = https://docs.typo3.org/typo3cms/TyposcriptSyntaxReference/
